<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.serviceback.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.serviceback.po.User">
        <id column="id" property="id"/>
        <result column="password" property="password"/>
        <result column="name" property="name"/>
        <result column="avatar" property="avatar"/>
        <result column="sex" property="sex"/>
        <result column="birthday" property="birthday"/>
        <result column="intro" property="intro"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, password, name, avatar, sex, birthday, intro, create_time, update_time
    </sql>
    <select id="getJoinUserList" resultType="com.example.serviceback.po.User">
        select id, name, avatar, create_time
        from user
        where id in
        <foreach collection="userIdList" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>
    <select id="getAllUserId" resultType="java.lang.Long">
        select id
        from user;
    </select>

</mapper>
